 <!-- Cleint_area -->
 <section class="cleint-area fast">
    <div class="container">
        <div class="cleint-office-logo owl-carousel">
            <div class="item"> <img src="../../assets/img/five.png" alt=""></div>
            <div class="item"> <img src="../../assets/img/four.png" alt=""></div>
            <div class="item"> <img src="../../assets/img/three.png" alt=""></div>
            <div class="item"> <img src="../../assets/img/two.png" alt=""></div>
            <div class="item"> <img src="../../assets/img/one.png" alt=""></div>
        </div>                                                     
    </div>
</section>