<!-- header-top-area START-->
<header class="header-area" id="home" >
    <div class="container">
        <div class="top-header">
            <ul class="left-item">
                <li>
                    <span><i class="flaticon-telephone"></i></span>
                    <a href="tel:+14168469924">+1 416-846-9924</a>
                </li>
                <li>
                    <span class="email"><i class="flaticon-email"></i></span>
                    <a class="maile" href="mailto:mirlubna2019@yahoo.com">mirlubna2019@yahoo.com</a>
                </li>
            </ul>
            <ul class="right-item">
                <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- header-menu-area START-->
   
    <div class="header-menu main-header-area" (scroll)="onscroll()"
    [ngClass]="navbarfixed?'fixed':'nofixed'" >
        <div class="container">
            <div class="menu-flax">
                <div class="header-logo">
                    <a href="#home"><img src="../../assets/images/Logo.png" alt=""></a>
                </div>
                <div class="menu-item">
                    <ul>
                        <li><a href="#home">Home</a></li>
						<li><a href="#features">Features</a></li>
                        <li><a href="#aboutus">About Us</a></li>
						<li><a href="#gallery">Gallery</a></li>
                        <li><a href="#courses">Courses</a></li>
						<!-- <li><a href="#team">Our Team</a></li> -->
                        <li><a routerLink="/contactus">Contact Us</a></li>
                    </ul>
                </div>
                <div class="search-option">
                    <a class="theme-btn" href="#courses">Reach our courses</a>
                </div>
            </div>
        </div>
    </div>

    <!-- header-menu-area END-->
</header>
<!-- header-top-area END-->