.driving-area{
    overflow: hidden;
    display: block;
    background: #111A39;
    .driving-text{
        padding: 100px 0 120px;
        h1{
            font-weight: bold;
            font-size: 38px;
            line-height: 60px;
            color: #FFFFFF;
            padding-bottom: 10px;
        }
        p{
            color: #FFFFFF;
            max-width: 538px;
        }
        .about-number{
            display: inline-block;
            padding-top: 30px;
            span{
                height: 50px;
                line-height: 54px;
                width: 50px;
                color: #ffffff;
                background: #E81D4F;
                font-size: 26px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                transform: rotate(90deg);
            }
            a{
                color: #FFFFFF;
                font-weight: bold;
                font-size: 27px;
                line-height: 37px;
                padding-top: 6px;
                padding-left: 20px;
                display: inline;
            }
        }
    }
    .driving-img{
        padding-top: 49px;
    }
}
// h2-driving-area
.h2-driving-area{
    overflow: hidden;
    display: block;
    background: #111A39;
    // driving_img right-side//
    .driving-img{
        position: relative;
        padding-top: 0;
        .bg-and-play-btn{
            background: #fff;
            width: 960px;
            height: 430px;
            img{
                padding-top: 50px;
            }
            &::before{
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 960px;
                height: 100%;
                background: #111A39;
                opacity: 0.6;
            }
            .popup-youtube{
                color: #E81D4F;
                height: 70px;
                width: 70px;
                line-height: 73px;
                font-size: 20px;
                text-align: center;
                display: block;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 62%;
                transform: translate(-62%, -50%);
            }
        }
    }
}