
<!-- Courses-area -->
<section class="courses-area">
    <div class="container">
        <div class="title">
            <h6>((Courses))</h6>
            <h1>Our Popular Driving Course</h1>
            <p class="m-0">Our meticulously designed courses help transform beginners into skilled and confident drivers. Choose your desired course from a range of driving training courses and master the skill of driving at Starplus-Driving school</p>
        </div>
        <div class="courses-images owl-carousel">
            <div class="item"> 
                <div class="course-item"> 
                    <div class="courses-img">
                        <img src="../../assets/img/courses-h1-img.png" alt="">
                    </div>
                    <div class="courses-img-heading">
                        <div class="img-heading">
                            <h3>Learner Drivers</h3>
                            <h4>$315</h4>
                        </div>
                        <p>If you've never been behind the steering wheel, this course is for you. </p>
                        <a class="theme-btn" href="courses-details.html">View Course</a>
                    </div>
                </div>
            </div>
            <div class="item"> 
                <div class="course-item"> 
                    <div class="courses-img">
                        <img src="../../assets/img/courses-h1-tow.png" alt="">
                    </div>
                    <div class="courses-img-heading">
                        <div class="img-heading">
                            <h3>Defensive Driving</h3>
                            <h4>$415</h4>
                        </div>
                        <p>If you’re the one who has a license but feels under-confident while driving alone, this course is for you.</p>
                        <a class="theme-btn" href="courses-details.html">View Course</a>
                    </div>
                </div>
            </div>
            <div class="item"> 
                <div class="course-item"> 
                    <div class="courses-img">
                        <img src="../../assets/img/couraese-h1-three.png" alt="">
                    </div>
                    <div class="courses-img-heading">
                        <div class="img-heading">
                            <h3>Foreign Driving</h3>
                            <h4>$715</h4>
                        </div>
                        <p>If you  wish to pass the Foreign driving test or just get some impartial driving advice, 
                            then we have a training course that can help you to achieve your goal.</p>
                        <a class="theme-btn" href="courses-details.html">View Course</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>