<section class="about-area" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 wow fadeInLeftBig" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInLeftBig;">
                <div class="about-text-area">
                    <div class="title">
                        <!-- <h6>((About Us))</h6> -->
                        <h1>Why would you choose our driving school?</h1>
                        <p>Fortunately, there isn´t a dearth of driving schools that can help expedite your driving skills. However, you should be careful when selecting a driving school. We would strongly advise you to spare no expense in hiring a good driving instructor.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="driving-skills">
                                <ul class="skills-one">
                                    <li><span></span> Basic driving skills</li>
                                    <li><span></span> Quick Tips and Advice</li>
                                    <li><span></span> Courses for Advanced</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="driving-skills">
                                <ul class="skills-one">
                                    <li><span></span> Highway and city driving</li>
                                    <li><span></span> Road test preparation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <a class="theme-btn" href="about-us.html">About More</a> -->
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-image-area">
                    <div class="image-one wow fadeInLeft" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInLeft;">
                        <img src="../../assets/img/about-h1-1.png" alt="">
                    </div>
                    <div class="image-two wow fadeInUp" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                        <img src="../../assets/img/about-h1-2.png" alt="">
                    </div>
                    <div class="image-three wow fadeInRightBig" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInRightBig;">
                        <img src="../../assets/img/about-h1-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
