<app-header></app-header>
<!-- Banner_area -->
<section class="about-banner-area">
    <div class="container">
        <div class="banner-text text-center">
            <h1 class="wow fadeInDown" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInDown;">Page Not Found!</h1>
            <a href="/">Home <span>/</span></a>
            <a class="about-link" href="javascript:void(0);">Error Page</a>
        </div>
    </div>
</section>
<div class="error-area">
    <div class="container text-center">
        <h1 class="wow fadeInDown" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInDown;">4<span>0</span>4</h1>
        <h2>Oops! That page can’t be found</h2>
        <p>Sorry, but the page you are looking for does not existing</p>
        <a class="theme-btn" href="/">Go To Home Page</a>
    </div>
</div>
<app-footer></app-footer>