<!-- Gallery-area -->
<section class="gallery-area" id="gallery">
    <div class="container">
        <div class="title text-center">
            <!-- <h6>((Gallery))</h6> -->
            <h1>See Our Photos</h1>
            <p>To provide professional, informed, and comfortable instruction that turns new or inexperienced drivers into safe, collision-free, and confident drivers. Here Some Picture's of it.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="geallery-image">
                    <div class="geallery-translliet">
                        <img src="../../assets/img/gallery-1.png" alt="">
                    </div>
                    <div class="geallery-link">
                        <a href="../../assets/img/gallery-1.png" class="img-zoom"><i class="fal fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="geallery-image">
                    <div class="geallery-translliet">
                        <img src="../../assets/img/gallery-2.png" alt="">
                    </div>
                    <div class="geallery-link">
                        <a href="../../assets/img/gallery-2.png" class="img-zoom"><i class="fal fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="geallery-image">
                    <div class="geallery-translliet">
                        <img src="../../assets/img/gallery-3.png" alt="">
                    </div>
                    <div class="geallery-link">
                        <a href="../../assets/img/gallery-3.png" class="img-zoom"><i class="fal fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="geallery-image">
                    <div class="geallery-translliet">
                        <img src="../../assets/img/gallery-4.png" alt="">
                    </div>
                    <div class="geallery-link">
                        <a href="../../assets/img/gallery-4.png" class="img-zoom"><i class="fal fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="geallery-image">
                    <div class="geallery-translliet">
                        <img src="../../assets/img/gallery-5.png" alt="">
                    </div>
                    <div class="geallery-link">
                        <a href="../../assets/img/gallery-5.png" class="img-zoom"><i class="fal fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="geallery-image">
                    <div class="geallery-translliet">
                        <img src="../../assets/img/gallery-6.png" alt="">
                    </div>
                    <div class="geallery-link">
                        <a href="../../assets/img/gallery-6.png" class="img-zoom"><i class="fal fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>