<!-- Pricing-area -->
<section class="pricing-area" id="courses">

    <div class="container">
        <div class="title text-center">
            <!-- <h6>((Pricing))</h6> -->
            <h1>MINSITRY APPROVED COURSES</h1>
            <!-- <p>Our driving packages help new or inexperienced drivers in Washington, DC earn a driver’s license and/or make people improve behind the wheel.</p>
            <h6>MINSITRY APPROVED COURSES</h6> -->
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-4 wow fadeInUpBig" data-wow-duration="1.30s"
                style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUpBig;">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 1</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>693</h1>

                        </div>
                        <div>(Fees: $600 <br />+ MTO Fees: $15 <br />+ HST Fees: $78)</div>
                        <ul class="text-center">
                            <li>Basic E-Learning Lesson ( 30 hours digital course)</li>
                            <li>In addition 10 hours In Car Training</li>
                        </ul>
                        <a class="theme-btn" (click)="openPopup('Package 1')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-4 wow fadeInUpBig" data-wow-duration="1.50s"
                style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUpBig;">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 2</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>906.57</h1>

                        </div>
                        <div>(Fees: $789 <br />+ MTO Fees: $15 <br />+ HST Fees: $102.57)</div>
                        <ul class="text-center">
                            <li>Basic E-Learning Lesson (30 hours digital course) </li>
                            <li>In addition Test</li>
                        </ul>
                         <a class="theme-btn" (click)="openPopup('Package 2')" href="javascprit:void(0);">Choose Plan</a>
                        <!-- <a class="theme-btn" href="javascprit:void(0);">
                            <app-paypalpayment ControlElementId="plan12" ControlCurrency="USD" ControlAmount="906.57">

                            </app-paypalpayment>
                        </a> -->
                        
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"></div>

    <div class="container">
        <div class="title text-center mt-3">
            <h1>INDIVIDUAL TESTING AND TRAINING FOR G</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 fadeInUpBig">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 3</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>62.5</h1>
                        </div>
                        <div>(Fees: $55<br />+ MTO Fees: $0.00<br />+ HST Fees: $7.15)</div>
                        <ul class="text-center">
                            <li>1 hours Lesson</li>
                        </ul>
                        <a class="theme-btn" (click)="openPopup('Package 3')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 fadeInUpBig">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 4</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>282.5</h1>
                        </div>
                        <div>(Fees: $250<br />+ MTO Fees: $0.00<br />+ HST Fees: $32.5)</div>
                        <ul class="text-center">
                            <li>2 hours Lesson & test</li>
                        </ul>
                        <a class="theme-btn" (click)="openPopup('Package 4')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 fadeInUpBig">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 5</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>406.8</h1>
                        </div>
                        <div>(Fees: $360<br />+ MTO Fees: $0.00<br />+ HST Fees: $46.8)</div>
                        <ul class="text-center">
                            <li>4 hours Lesson & test</li>
                        </ul>
                        <a class="theme-btn" (click)="openPopup('Package 5')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"></div>
    <div class="container">
        <div class="title text-center mt-3">
            <h1>INDIVIDUAL TESTING AND TRAINING FOR G2</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUpBig" data-wow-duration="1.30s"
                style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUpBig;">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 6</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>56.50</h1>
                        </div>
                        <div>(Fees: $50<br />+ MTO Fees: $0.00<br />+ HST Fees: $6.50)</div>
                        <ul class="text-center">
                            <li>1 hours Lesson</li>
                        </ul>
                        <a class="theme-btn btn" (click)="openPopup('Package 6')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUpBig" data-wow-duration="1.50s"
                style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUpBig;">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 7</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>203.4</h1>
                        </div>
                        <div>(Fees: $180<br />+ MTO Fees: $0.00<br />+ HST Fees: $23.4)</div>
                        <ul class="text-center">
                            <li>1 hours lesson & road test</li>
                        </ul>

                        <a class="theme-btn" (click)="openPopup('Package 7')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUpBig" data-wow-duration="2.10s"
                style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUpBig;">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 8</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>259.9</h1>
                        </div>
                        <div>(Fees: $230<br />+ MTO Fees: $0.00<br />+ HST Fees: $29.9)</div>
                        <ul class="text-center">
                            <li>2 hours Lesson & test</li>
                        </ul>
                        <a class="theme-btn" (click)="openPopup('Package 8')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUpBig" data-wow-duration="2.40s"
                style="visibility: visible; animation-duration: 2.4s; animation-name: fadeInUpBig;">
                <div class="pricing-item text-center">
                    <div class="pricing-texts">
                        <h6>Package 9</h6>
                        <div class="basic-price">
                            <span>$</span>
                            <h1>372.9</h1>
                        </div>
                        <div>(Fees: $330<br />+ MTO Fees: $0.00<br />+ HST Fees: $42.9)</div>
                        <ul class="text-center">
                            <li>4 hours Lesson & test</li>
                        </ul>
                        <a class="theme-btn" (click)="openPopup('Package 9')" href="javascprit:void(0);">Choose Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- <ng-template #mymodal let-modal>  
    <div class="modal-header">  
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>  
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">  
        <span aria-hidden="true">?</span>  
      </button>  
    </div>  
    <div class="modal-body">  
      This is example from Javatpoint.com  
    </div>  
    <div class="modal-footer">  
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>  
    </div>  
  </ng-template>   -->
<div class="modal" [ngClass]="{'modal-backdrop': displayStyle === 'block'}" tabindex="-1" role="dialog"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center d-block">
                <h4 class="modal-title">Paypal payment service</h4>
            </div>
            <div class="modal-body" style="max-height: 600px;overflow-y: auto;">
                <!-- <div class="bd-callout bd-callout-danger">
                    <strong>Please do not share your confidential data with third .</strong>
                </div> -->
                <!-- <ng-container *ngIf="displayStyle == 'block'">
                    
                </ng-container> -->
                <app-paypalpayment 
                [ControlElementId]="SelectedElementId" 
                [ControlCurrency]="SelectedCurrency" 
                [ControlAmount]="SelectedAmount"
                (onSuccess)="onSuccessTrigger($event)"
                >
                </app-paypalpayment>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>