<div class="banner-area">
    <div id="carouselExampleControls" class="carousel slide item" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active  banner-images">
                <img src="../../assets/img/banner-img-two.png" class="d-block w-100" alt="...">
            </div>
            <div class="container">
                <div class="banner-heading text-left">
                    <h1 class="wow fadeInDown" data-wow-duration="2s"
                        style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;">Learn to Drive
                        With Confidence</h1>
                    <p class="wow fadeInDown" data-wow-duration="3s"
                        style="visibility: visible; animation-duration: 3s; animation-name: fadeInDown;">Safe Drivers
                        are not Born, They are Trained. Learn from Experience.</p>
                    <a class="theme-btn wow fadeInDown" data-wow-duration="3.20s" href="#pricing"
                        style="visibility: visible; animation-duration: 3.2s; animation-name: fadeInDown;">Learn
                        More</a>
                    <a class="theme-btn btn-two wow fadeInDown" data-wow-duration="3.20s" href="#pricing"
                        style="visibility: visible; animation-duration: 3.2s; animation-name: fadeInDown;">Contact
                        Us</a>
                </div>
            </div>
            <div class="carousel-item  banner-images">
                <img src="../../assets/img/banner-img-one.png" class="d-block w-100" alt="...">
            </div>
            <div class="container">
                <div class="banner-heading text-left">
                    <h1 class="wow fadeInDown" data-wow-duration="2s"
                        style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;">Learn to Drive
                        With Confidence</h1>
                    <p class="wow fadeInDown" data-wow-duration="3s"
                        style="visibility: visible; animation-duration: 3s; animation-name: fadeInDown;">Safe Drivers
                        are not Born, They are Trained. Learn from Experience.</p>
                    <a class="theme-btn wow fadeInDown" data-wow-duration="3.20s" href="#funfact"
                        style="visibility: visible; animation-duration: 3.2s; animation-name: fadeInDown;">Learn
                        More</a>
                    <a class="theme-btn btn-two wow fadeInDown" data-wow-duration="3.20s" href="#pricing"
                        style="visibility: visible; animation-duration: 3.2s; animation-name: fadeInDown;">Contact
                        Us</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" style="margin-left: -30px;" type="button"
            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>