<app-header></app-header>
<app-top-slider></app-top-slider>
<!-- <app-driving-course-form></app-driving-course-form> -->
<app-features></app-features>
<app-aboutus></app-aboutus>
<app-funfact></app-funfact>
<!-- <app-courses></app-courses> -->
<app-start-learning-banner></app-start-learning-banner>
<app-gallery></app-gallery>
<app-team></app-team>
<app-pricing></app-pricing>
<app-testimonial></app-testimonial>
<!-- <app-news></app-news> -->
<!-- <app-our-clients></app-our-clients> -->
<router-outlet></router-outlet>
<app-footer></app-footer>