 <!-- News-area -->
 <section class="news-area" id="news">
    <div class="container">
        <div class="title text-center">
            <!-- <h6>((News))</h6> -->
            <h1>What Our Client Say?</h1>
            <p>Our guides on choosing the right driving school, preparing for the road test, and driving basics are some of the most popular articles on our website. </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="newsItems">
                    <div class="news-image">
                        <img src="../../assets/img/new-h1-1.png" alt="">
                    </div>
                    <div class="news-text">
                        <div class="news-date">
                            <span><i class="fal fa-clock"></i></span>
                            <p>May 04, 2021</p>
                        </div>
                        <div class="textId">
                            <h5>3 Back-to-School Driving Tips</h5>
                            <p>The right driving school is accredited according to state laws and will prepare you to be a safe. </p>
                            <a class="theme-btn" href="news-details.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="newsItems">
                    <div class="news-image">
                        <img src="../../assets/img/new-h1-2.png" alt="">
                    </div>
                    <div class="news-text">
                        <div class="news-date">
                            <span><i class="fal fa-clock"></i></span>
                            <p>May 04, 2021</p>
                        </div>
                        <div class="textId">
                            <h5>Tips To Avoid Car Accidents</h5>
                            <p>Practice makes perfect! We know you’ve heard that before, but it’s especially true with driving.</p>
                            <a class="theme-btn" href="news-details.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="newsItems margin-not">
                    <div class="news-image">
                        <img src="../../assets/img/news-h1-3.png" alt="">
                    </div>
                    <div class="news-text">
                        <div class="news-date">
                            <span><i class="fal fa-clock"></i></span>
                            <p>May 04, 2021</p>
                        </div>
                        <div class="textId">
                            <h5>Learn To Drive An Automatic Car</h5>
                            <p>When you first start learning to drive, it can seem a little overwhelming. We know that, but don’t worry – you’re in good hands!r</p>
                            <a class="theme-btn" href="news-details.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>