<app-header></app-header>
<section class="about-banner-area">
    <div class="container">
        <div class="banner-text text-center">
            <h1 class=" wow fadeInDown"  data-wow-duration="1s">Contact Us</h1>
            <a routerLink="/home">Home <span>/</span></a>
            <a class="about-link" href="javascprit:void(0)">Contact Us</a>
        </div>
    </div>
</section>
<section class="Contacts-page-area" id="contactus">
<div class="container">
    <div class="row">
        <div class="form-all-items">
            <div class="col-lg-4 p-0">
                <div class="contact-tuc-area">
                    <div class="tuch-items text-center">
                        <div class="tuch-icon"><i class="far fa-map-marker-alt"></i></div>
                        <div class="tuch-text">
                            <p>11 Monterrey Dr, Toronto, ON M9V 1S7</p>
                        </div>
                    </div>
                    <div class="tuch-list-item text-center">
                        <div class="tuch-icon-phone"><i class="fas fa-phone"></i></div>
                        <div class="list-text">
                            <ul>
                                <li><a href="tel:+1416-846-9924">+1 416-846-9924</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tuch-list-item meail text-center">
                        <div class="tuch-icon"><i class="fal fa-envelope"></i></div>
                        <div class="list-text">
                            <ul>
                                <li><a href="mailto:mirlubna2019@yahoo.com">mirlubna2019@yahoo.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form">
                <h6>Get In Touch</h6>
                        <div class="row">
                            <div class="col-lg-6 col-md-5">
                                <div class="text-name">
                                    <div>
                                        <input type="text" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="text-name">
                                    <div>
                                        <input type="text" placeholder="Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="text-name">
                                    <div>
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="text-name">
                                    <div>
                                        <input type="text" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <textarea placeholder="Your Massages"></textarea>
                            </div>
                            <a class="theme-btn text-center m-auto" href="javascprit:void(0)">Send Now</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11529.914318383899!2d-79.5697166!3d43.7421577!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x891e684fdcc05820!2sStar%20plus%20driving%20school!5e0!3m2!1sen!2sin!4v1661498485103!5m2!1sen!2sin" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</section>
<app-footer></app-footer>