<!-- driving-area -->
<section class="driving-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInLeftBig" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInLeftBig;">
                <div class="driving-text">
                    <h1>Start Learning to Drive Today</h1>
                    <p>Perfection comes with seamless integration of learning and application! Become a confident driver by getting theoretical and practical driving training at Starplus-drivings</p>
                    <div class="about-number">
                        <span><i class="fas fa-phone"></i></span>
                        <a href="tel:+14168469924"> +1 4168 469 924</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRightBig" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInRightBig;">
                <div class="driving-img">
                    <img src="../../assets/img/driving-h1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
