<section class="team-area" id="team">
    <div class="container">
        <div class="title text-center">
            <!-- <h6>((Team))</h6> -->
            <h1>Meet Our Instructor</h1>
            <p>We want you to feel comfortable and knowledgeable behind the wheel</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6  wow fadeInUpBig" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUpBig;">
                <div class="team-items">
                    <div class="team-image">
                        <div class="img-transilet">
                            <img src="../../assets/img/team-h1-1.png" alt="">
                        </div>
                        <div class="team-id">
                            <h6>Daniel Taylor</h6>
                            <p>Instructor</p>
                        </div>
                        <ul class="team-links text-center">
                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUpBig" data-wow-duration="1.50s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUpBig;">
                <div class="team-items">
                    <div class="team-image">
                        <div class="img-transilet">
                            <img src="../../assets/img/team-h1-2.png" alt="">
                        </div>
                        <div class="team-id">
                            <h6>John Dome</h6>
                            <p>Managing Director</p>
                        </div>
                        <ul class="team-links text-center">
                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUpBig" data-wow-duration="2.10s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUpBig;">
                <div class="team-items">
                    <div class="team-image">
                        <div class="img-transilet">
                            <img src="../../assets/img/team-h1-3.png" alt="">
                        </div>
                        <div class="team-id">
                            <h6>Nia Falzzahra</h6>
                            <p>Head Teacher</p>
                        </div>
                        <ul class="team-links text-center">
                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUpBig" data-wow-duration="2.40s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeInUpBig;">
                <div class="team-items four">
                    <div class="team-image">
                        <div class="img-transilet">
                            <img src="../../assets/img/team-h1-4.png" alt="">
                        </div>
                        <div class="team-id">
                            <h6>Anthony Adams</h6>
                            <p>Instructor</p>
                        </div>
                        <ul class="team-links text-center">
                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>