<!-- Funfact-area -->
<section class="funfact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  wow fadeInLeftBig" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInLeftBig;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="funfact-item text-center">
                            <span class="completed"><svg width="48" height="50" viewBox="0 0 48 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.51062 40.9787V5.46383H34.1936V35.2904L39.6585 30.7766V2.73191C39.6585 1.2234 38.4361 0 36.9276 0H2.7787C1.27019 0 0.0478516 1.2234 0.0478516 2.73191V43.7096C0.0478516 45.2181 1.27019 46.4415 2.7787 46.4415H26.617L22.7553 40.9787H5.51062Z" fill="#E81D4F"/>
                                <path d="M47.5245 29.3713C47.0213 28.8968 46.2479 28.8745 45.7181 29.3106L33.1884 39.6659L24.8384 34.6564C24.2841 34.3245 23.5745 34.4234 23.133 34.9C22.6947 35.3723 22.6469 36.0883 23.0203 36.6159L32.0692 49.4213C32.3224 49.7798 32.7341 49.9947 33.1724 49.9989C33.1767 49.9989 33.1809 49.9989 33.1852 49.9989C33.6192 49.9989 34.0288 49.7936 34.2862 49.4404L47.6905 31.1713C48.0947 30.617 48.0256 29.8457 47.5245 29.3713Z" fill="#E81D4F"/>
                                <path d="M28.0489 9.56171H11.6564C10.1479 9.56171 8.92554 10.7851 8.92554 12.2936C8.92554 13.8021 10.1479 15.0255 11.6564 15.0255H28.0479C29.5564 15.0255 30.7777 13.8021 30.7777 12.2936C30.7777 10.7851 29.5575 9.56171 28.0489 9.56171Z" fill="#E81D4F"/>
                                <path d="M28.0489 17.7564H11.6564C10.1479 17.7564 8.92554 18.9798 8.92554 20.4883C8.92554 21.9968 10.1479 23.2202 11.6564 23.2202H28.0479C29.5564 23.2202 30.7777 21.9979 30.7777 20.4883C30.7809 18.9798 29.5575 17.7564 28.0489 17.7564Z" fill="#E81D4F"/>
                                <path d="M28.0489 25.9521H11.6564C10.1479 25.9521 8.92554 27.1755 8.92554 28.684C8.92554 30.1925 10.1479 31.4159 11.6564 31.4159H28.0479C29.5564 31.4159 30.7777 30.1925 30.7777 28.684C30.7809 27.1755 29.5575 25.9521 28.0489 25.9521Z" fill="#E81D4F"/>
                                </svg>
                                </span>
                            <div class="funfact-text">
                                <h4><span class="counter">22</span> k+</h4>
                                <p>Course Complete</p>
                            </div>
                        </div>
                        <div class="funfact-item text-center">
                            <span class="completed"><i class="flaticon-steering-wheel"></i>
                            </span>
                            <div class="funfact-text">
                                <h4><span class="counter">2.5</span> k+</h4>
                                <p>Driving learners</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="funfact-item items-two text-center">
                            <span class="completed"><i class="flaticon-manager Author"></i></span>
                            <div class="funfact-text">
                                <h4><span class="counter">22</span> k+</h4>
                                <p>Experience Instructors</p>
                            </div>
                        </div>
                        <div class="funfact-item text-center">
                            <span class="completed"><i class="flaticon-winner"></i></span>
                            <div class="funfact-text">
                                <h4><span class="counter">2.5</span> k+</h4>
                                <p>Awards Winner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRightBig" data-wow-duration="1.30s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInRightBig;">
                <div class="funfact-text-area">
                    <h1>15</h1>
                    <h2>Years Our Experience</h2>
                    <p>For many years, we have been helping people of all ages learn to drive.</p>
                    <a class="theme-btn" href="courses-details.html">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>